div#cnt {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.v-wrap{
    height: 100%;
    white-space: nowrap;
    text-align: center;
}
.v-wrap:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    margin-right: -.25em;
    height: 100%; 
}
.v-box{
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    height: inherit;
}


a, a:visited { text-decoration: none; color: #333333; }
a:hover { text-decoration: none; color: #333333; }

#frame {
	float: left;
	margin: 0px;
	padding: 1px;
    width: 25%;
}

#ls_cell_p1_1, #ls_cell_p1_1a, #ls_cell_p1_2, #ls_cell_p1_2a, #ls_cell_p1_3, #ls_cell_p1_3a, #ls_cell_p1_4, #ls_cell_p1_4a,
#ls_cell_p1_5, #ls_cell_p1_6, #ls_cell_p1_7, #ls_cell_p1_8,
#ls_cell_p1_9, #ls_cell_p1_10, #ls_cell_p1_11, #ls_cell_p1_12,
#ls_cell_p1_13, #ls_cell_p1_14, #ls_cell_p1_15, #ls_cell_p1_16,
#ls_cell_p2_1, #ls_cell_p2_1a, #ls_cell_p2_2, #ls_cell_p2_2a, #ls_cell_p2_3, #ls_cell_p2_3a, #ls_cell_p2_4, #ls_cell_p2_4a,
#ls_cell_p2_5, #ls_cell_p2_6, #ls_cell_p2_7, #ls_cell_p2_8,
#ls_cell_p2_9, #ls_cell_p2_10, #ls_cell_p2_11, #ls_cell_p2_12,
#ls_cell_p2_13, #ls_cell_p2_14, #ls_cell_p2_15, #ls_cell_p2_16
{
	font-family: arimo;
	font-weight: normal;
	text-transform: uppercase;
	color: #333333;
	font-size: 11px;
	margin-top: 0px; /*-27px */
	height: 0px; /*27px */
	line-height: 140%; /*68px */
	position: relative;
	z-index: 40;
}

#desc_cell_p1_1, #desc_cell_p1_2, #desc_cell_p1_3, #desc_cell_p1_4,
#desc_cell_p1_5, #desc_cell_p1_6, #desc_cell_p1_7, #desc_cell_p1_8,
#desc_cell_p1_9, #desc_cell_p1_10, #desc_cell_p1_11, #desc_cell_p1_12,
#desc_cell_p1_13, #desc_cell_p1_14, #desc_cell_p1_15, #desc_cell_p1_16,
#desc_cell_p2_1, #desc_cell_p2_2, #desc_cell_p2_3, #desc_cell_p2_4,
#desc_cell_p2_5, #desc_cell_p2_6, #desc_cell_p2_7, #desc_cell_p2_8,
#desc_cell_p2_9, #desc_cell_p2_10, #desc_cell_p2_11, #desc_cell_p2_12,
#desc_cell_p2_13, #desc_cell_p2_14, #desc_cell_p2_15, #desc_cell_p2_16
{
	font-family: arimo;
	font-weight: normal;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 14px;
	/*margin-top: -20px;*/
	height: 25px;
	line-height: 18px;
	position: relative;
	z-index: 30;
}

#bottom_cell_p1_1, #bottom_cell_p1_2, #bottom_cell_p1_3, #bottom_cell_p1_4,
#bottom_cell_p1_5, #bottom_cell_p1_6, #bottom_cell_p1_7, #bottom_cell_p1_8,
#bottom_cell_p1_9, #bottom_cell_p1_10, #bottom_cell_p1_11, #bottom_cell_p1_12,
#bottom_cell_p1_13, #bottom_cell_p1_14, #bottom_cell_p1_15, #bottom_cell_p1_16,
#bottom_cell_p2_1, #bottom_cell_p2_2, #bottom_cell_p2_3, #bottom_cell_p2_4,
#bottom_cell_p2_5, #bottom_cell_p2_6, #bottom_cell_p2_7, #bottom_cell_p2_8,
#bottom_cell_p2_9, #bottom_cell_p2_10, #bottom_cell_p2_11, #bottom_cell_p2_12,
#bottom_cell_p2_13, #bottom_cell_p2_14, #bottom_cell_p2_15, #bottom_cell_p2_16
{
	margin: -26px 1px 6px 1px;
	height: 20px;
	background: #444444;
	opacity: 1;
	position: relative;
	z-index: 25;
	-webkit-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
}

#cell_p1_1, #cell_p1_2, #cell_p1_3, #cell_p1_4,
#cell_p1_5, #cell_p1_6, #cell_p1_7, #cell_p1_8,
#cell_p1_9, #cell_p1_10, #cell_p1_11, #cell_p1_12,
#cell_p1_13, #cell_p1_14, #cell_p1_15, #cell_p1_16,
#cell_p2_1, #cell_p2_2, #cell_p2_3, #cell_p2_4,
#cell_p2_5, #cell_p2_6, #cell_p2_7, #cell_p2_8,
#cell_p2_9, #cell_p2_10, #cell_p2_11, #cell_p2_12,
#cell_p2_13, #cell_p2_14, #cell_p2_15, #cell_p2_16
{
	font-family: arimo, serif;
	font-weight: bold;
	text-transform: uppercase;
	width: 150px;
	padding: 10px;
	border: 1px solid #666;
	height: 112px;
	line-height: 75px; 		
	color: #333333 !important;
	font-size: 30px;	
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;	
	position: relative;
	cursor: pointer;
	z-index: 20;
}

#cell_p1_5, #cell_p1_6, #cell_p1_7, #cell_p1_8,
#cell_p1_9, #cell_p1_10, #cell_p1_11, #cell_p1_12,
#cell_p1_13, #cell_p1_14, #cell_p1_15, #cell_p1_16,
#cell_p2_5, #cell_p2_6, #cell_p2_7, #cell_p2_8,
#cell_p2_9, #cell_p2_10, #cell_p2_11, #cell_p2_12,
#cell_p2_13, #cell_p2_14, #cell_p2_15, #cell_p2_16,
#iframe
{
	height: 85px;
	line-height: 55px;
	color: #999;
}

#cell_p1_1a, #cell_p1_1b, #cell_p1_2a, #cell_p1_2b, #cell_p1_3a, #cell_p1_3b, #cell_p1_4a, #cell_p1_4b,
#cell_p2_1a, #cell_p2_1b, #cell_p2_2a, #cell_p2_2b, #cell_p2_3a, #cell_p2_3b, #cell_p2_4a, #cell_p2_4b
{
	font-family: arimo, serif;
	font-weight: bold;
	text-transform: uppercase;
	margin: -15px 0px 0px 0px;
	color: #333333 !important;
	font-size: 30px;
	position: relative;
    height: 50px;
	z-index: 20;
}

#bcell_p1_5, #bcell_p1_6, #bcell_p1_7, #bcell_p1_8,
#bcell_p1_9, #bcell_p1_10, #bcell_p1_11, #bcell_p1_12,
#bcell_p1_13, #bcell_p1_14, #bcell_p1_15, #bcell_p1_16,
#bcell_p2_5, #bcell_p2_6, #bcell_p2_7, #bcell_p2_8,
#bcell_p2_9, #bcell_p2_10, #bcell_p2_11, #bcell_p2_12,
#bcell_p2_13, #bcell_p2_14, #bcell_p2_15, #bcell_p2_16
{
	/* width: 162px; */
	margin: -86px 0px 0px 0px;
	padding: 10px 10px 6px 10px;
	height: 70px;
	//height: 70px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;	
	background-color: #eeeeee;
	opacity: 0.7;
	position: relative;
	z-index: 1;
}

#bcell_p1_1, #bcell_p1_2, #bcell_p1_3, #bcell_p1_4,
#bcell_p2_1, #bcell_p2_2, #bcell_p2_3, #bcell_p2_4
{
	/* width: 162px; */
	margin: -111px 0px 0px 0px;
	padding: 10px 10px 6px 10px;
	height: 95px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;	
	background-color: #eeeeee;
	opacity: 0.7;
	position: relative;
	z-index: 1;
}

/*#all { 
	margin-left: -35px; 
	margin-top: 5px; 
	width: 100%;*/ /* 1050px; */
    /*height: 400;*/ /* 570px; */
/*}*/

#popup_switch, #popup_protected, #popup_camera, #popup_camera1, #popup_camera2, #popup_camera3
{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 340px;
    height: 75px;
    margin-left: -150px;
    margin-top: -100px;                 
    padding: 10px;
    border: 2px #c0c0c0;
    background: #333;
    z-index:1002;
    overflow:visible;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 25px;
	color: #c0c0c0;
	line-height: 75px;
	text-align: center;	
	-webkit-border-radius: 15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px;	
}
#popup_camera, #popup_camera1, #popup_camera2, #popup_camera3
{
    width: 640px;
    height: 480px;
    margin-left: -325px;
    margin-top: -245px;                 
}
#fade
{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}
.camera
{
  background: url(offline.jpg) no-repeat;
  -moz-opacity: 0.7;
  opacity:.70;
  filter: alpha(opacity=70);
  background-size: 272px 216px;
  width: 270px;
  height: 216px;
}

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}


/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(images/overlay.png) repeat 0 0; opacity: 0.9; filter: alpha(opacity = 90);}
#colorbox{outline:0;}
     #cboxContent{background:#fff; overflow:hidden;}

a {
outline-style:none;
}

#loading {
   width: 627; /* 1024px; */
   height: 400; /* 750px; */
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   margin-left: auto;
   margin-right: auto;
   display: block;
   /* opacity: 0.9;
   background-color: #fff; */
   z-index: 99;
   text-align: center;
}

#loading-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: auto; */
  margin-bottom: auto;
  z-index: 100;
}
#loading-image2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 420px; /* 520px */
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: auto; */
  margin-bottom: auto;
  z-index: 100;
}
